<!DOCTYPE html>
<html>
  <head>
    <title>啪啪快打</title>
	<meta charset="utf-8">
	<link href="http://style.c.aliimg.com/fdevlib/css/lofty/port/lofty.css" rel="stylesheet"></link> 
	<script src="/javascripts/lib/jquery-1.11.1.min.js"></script>
	<script src="/javascripts/lib/socket.io-1.0.6.js"></script>
	<script src="/javascripts/lib/webstorage.js"></script>
	<script src="/javascripts/utils.js"></script>
	<script src="/javascripts/constants.js"></script>    
    <script src="http://style.c.aliimg.com/fdevlib/js/lofty/port/lofty.js"></script>
    <script src="/javascripts/lib/hilo-standalone.js"></script>
    <script src="/javascripts/fight.js"></script>
    <style>
    html, body{
        width: 100%;
        height: 100%;
        background: #000;
    }
    #game-container{
        position: relative;
        width: 100%;
        top: 0;
        bottom: 0;
    }
    .hilo-log{
        bottom: 0;
        top: auto !important;
        max-height: 76px !important;
    }
    .blood-box-me,.blood-box-rival {
        position: absolute;
        width: 417px;height: 25px;
        /*background-size: 60% 100%;*/
        overflow: hidden;
        border-radius: 13px;
    }
    .blood-box-me img,.blood-box-rival img {
        position: absolute;left: 4px;top: 6px;
        transition: all .2s linear;
        /*width: 59%;*/
        /*height: 100%;*/
        z-index: 1;
    }
    .blood-box-me .blood-box,.blood-box-rival .blood-box {
        position: absolute;left: -4px;top: 0;
        height:100%;width: 100%;
        background: url('/images/blood-box.png') 0 0 no-repeat;
        z-index: 10;
    }
    .blood-box-me {
        /*transform-origin: 0 50%;*/
        left: 60px;top: 20px;
        /*transform:rotate(-90deg) translateX(-100%);*/
    }
    .blood-box-rival {
        /*transform-origin: 100% 50%;*/
        right: 60px;top: 20px;
        transform:rotate(180deg);
    }
    .avatar-me, .avatar-rival{
        position: absolute;top: 50px;
        width: 126px;height: 126px;
    }
    .avatar-me {left: 5px;}
    .avatar-rival {
        right: 5px;
        transform: rotateY(180deg);
    }
    </style>
  </head>
  <body>
    <a href="#" class="attack">attack</a>
    <a href="#" class="defense">defense</a>
    <a href="#" class="left">left</a>
    <a href="#" class="right">right</a>
    <a href="#" class="static">static</a>
    <div class="blood-box-me">
        <div class="blood-box"></div>
        <img src="/images/blood-green.png" alt="">
    </div>
    <div class="blood-box-rival">
        <div class="blood-box"></div>
        <img src="/images/blood-green.png" alt="">
    </div>
    <div class="avatar-me">
        <img src="/images/avatar.png" alt="">
    </div>
    <div class="avatar-rival">
        <img src="/images/avatar.png" alt="">
    </div>
    <div id="gamer-container"></div>
  </body>
</html>