<!DOCTYPE html>
<html>
  <head>
    <title>啪啪快打</title>
    <link rel='stylesheet' href='/stylesheets/fight.css' />
    <% include inc/meta.ejs %>
    <script src="/javascripts/fight.js"></script>
  </head>
  <body>
	 
  </body>
</html>