<!DOCTYPE html>
<html>
  <head>
    <title>啪啪快打</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <% include inc/meta.ejs %>
    <script src="/javascripts/lib/sonicnet.js"></script>
    <script src="/javascripts/index.js"></script>
  </head>
  <body class="init">
    <div class="beat-wrapper">
      <img src="images/beat.gif" />
    </div>
    <div class="papa-wrapper">
      <h1>欢迎来到啪啪快打</h1>
      <div class="logo"></div>

      <a id="find_phone" href="javascript:;">开始匹配手机</a>
      <div class="binding"></div>
      <div id="token_area">
        <p class="token">
          手机令牌号为：
          <span id="token"></span>
        </p>
        <p class="action">
          <a id="token_yes" href="javascript:;">确定</a>
          <a id="token_no" href="javascript:;">重新绑定</a>
        </p>
      </div>
    </div>
  </body>
</html>