<!DOCTYPE html>
<html>
  <head>
    <title>啪啪快打</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <script language="javascript" src="/javascripts/lib/jquery-1.11.1.min.js"></script>
    <script language="javascript" src="/javascripts/lib/sonicnet.js"></script>
    <script language="javascript" src="/javascripts/index.js"></script>
  </head>
  <body>
    <h1>欢迎来到啪啪快打</h1>
    <a id="find_phone" href="javascript:;">开始匹配手机</a>
    <div id="token_area">
    	手机令牌号为：<span id="token"></span>
    	是否确定？
    	<a id="token_yes" href="javascript:;">确定</a>
    	<a id="token_no" href="javascript:;">重新绑定</a>
    </div>
  </body>
</html>
