<!DOCTYPE html>
<html>
  <head>
    <title>啪啪快打</title>
    <link rel='stylesheet' href='/stylesheets/playerselect.css' />
    <% include inc/meta.ejs %>
    <script src="/javascripts/lib/jquery.roundabout.js"></script>
    <script src="/javascripts/lib/jquery.roundabout-shapes.js"></script>
    <script src="/javascripts/playerselect.js"></script>
  </head>
  <body>
    <div id="gla_box">
    <span class="prev">&nbsp;</span>
    <span class="next">&nbsp;</span>
    <ul>
      <li>
        <div class="gla_inbox">
          <img src="/images/role/1.png" role="1"/>
        </div>
      </li>
      <li>
        <div class="gla_inbox">
          <img src="/images/role/2.png" role="2"/>
        </div>
      </li>
      <li>
        <div class="gla_inbox">
          <img src="/images/role/3.png" role="3"/>
        </div>
      </li>
      <li>
        <div class="gla_inbox">
          <img src="/images/role/4.png" role="4"/>
        </div>
      </li>
      <li>
        <div class="gla_inbox">
          <img src="/images/role/5.png" role="5"/>
        </div>
      </li>
    </ul>
  </div>
  </body>
</html>