<!DOCTYPE html>
<html>
  <head>
    <title>啪啪快打</title>
    <link rel='stylesheet' href='/stylesheets/playerselect.css' />
    <script src="/javascripts/lib/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/lib/socket.io-1.0.6.js"></script>
    <script src="/javascripts/lib/webstorage.js"></script>
    <script src="/javascripts/playerselect.js"></script>
  </head>
  <body>
    <h1>请选择您喜欢的角色</h1>
  </body>
</html>