<!DOCTYPE html>
<html>
  <head>
    <title>啪啪快打</title>
    <link rel='stylesheet' href='/stylesheets/playerselect.css' />
    <script src="/javascripts/lib/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/lib/socket.io-1.0.6.js"></script>
    <script src="/javascripts/lib/webstorage.js"></script>
    <script src="/javascripts/lib/constants.js"></script>
    <script src="/javascripts/lib/jquery.roundabout.js"></script>
    <script src="/javascripts/lib/jquery.roundabout-shapes.js"></script>
    <script src="/javascripts/playerselect.js"></script>
  </head>
  <body>
    <div id="gla_box">
    <span class="prev">&nbsp;</span>
    <span class="next">&nbsp;</span>
    <ul>
      <li>
        <div class="gla_inbox">
          <img src="/images/role/1.png" />
        </div>
      </li>
      <li>
        <div class="gla_inbox">
          <img src="/images/role/2.png" />
        </div>
      </li>
      <li>
        <div class="gla_inbox">
          <img src="/images/role/3.png" />
        </div>
      </li>
      <li>
        <div class="gla_inbox">
          <img src="/images/role/4.png" />
        </div>
      </li>
      <li>
        <div class="gla_inbox">
          <img src="/images/role/5.png" />
        </div>
      </li>
    </ul>
  </div>
  </body>
</html>