<!DOCTYPE html>
<html>
  <head>
    <title>啪啪快打</title>
    <% include inc/meta.ejs %>
    <link rel='stylesheet' href='/stylesheets/preload.css' />
    <script src="/javascripts/preload.js"></script>
  </head>
  <body>
  <div id="container">
      <div class="stick"></div>
      <div class="stick"></div>
      <div class="stick"></div>
      <div class="stick"></div>
      <div class="stick"></div>
      <div class="stick"></div>
      <h1>Loading(<span id="percent">0/100</span>)...</h1>
  </div>
  </body>
</html>