<!DOCTYPE html>
<html>
  <head>
    <title>啪啪快打</title>
    <link rel='stylesheet' href='/stylesheets/preload.css' />
    <script src="/javascripts/lib/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/lib/socket.io-1.0.6.js"></script>
    <script src="/javascripts/lib/webstorage.js"></script>
    <script src="/javascripts/utils.js"></script>
    <script src="/javascripts/constants.js"></script>
    <script src="/javascripts/preload.js"></script>
  </head>
  <body>
  <div id="container">
      <div class="stick"></div>
      <div class="stick"></div>
      <div class="stick"></div>
      <div class="stick"></div>
      <div class="stick"></div>
      <div class="stick"></div>
      <h1>Loading<span id="percent"></span>...</h1>
  </div>
  </body>
</html>