<!DOCTYPE html>
<html>
  <head>
    <title>啪啪快打</title>
    <link rel='stylesheet' href='/stylesheets/preload.css' />
    <% include inc/meta.ejs %>
    <script src="/javascripts/preload.js"></script>
  </head>
  <body>
  <div id="container">
      <div class="bar-frame">
        <p class="progress"><span class="tail"></span></p>
      </div>
      <div class="loading"></div>
  </div>
  </body>
</html>