<!DOCTYPE html>
<html>
  <head>
    <title>啪啪快打</title>
    <link rel='stylesheet' href='/stylesheets/takephoto.css' />
    <% include inc/meta.ejs %>
    <script src="/javascripts/takephoto.js"></script>
  </head>
  <body>
    <div id="container">
      <img src="/images/camera.png" height="80" style="float:right;margin:10px;"/>
      <div style="clear:both;"></div>
      <video id="video" autoplay="" width="600" height="500"></video>  
      <div class="control">
          <button id="takephoto">确定拍照</button>
          <button id="continue">跳过</button>
      </div>
    </div>
    <canvas id="canvas" width="600" height="500"></canvas>
    <img src="/images/ok.png" id="ok"/>  
  </body>
</html>