<!DOCTYPE html>
<html>
  <head>
    <title>啪啪快打</title>
    <link rel='stylesheet' href='/stylesheets/takephoto.css' />
    <% include inc/meta.ejs %>
    <script src="/javascripts/takephoto.js"></script>
  </head>
  <body>
    <div id="container">
      <img src="/images/camera.png" height="80" style="float:right;margin:30px;"/>
      <div style="clear:both;"></div>
      <video id="video" autoplay="" width="900" height="600"></video>  
      <div class="control">
          <span id="takephoto">确定拍照</span>
          <span id="continue">跳过</span>
      </div>
    </div>
    <canvas id="canvas" width="900" height="600"></canvas>
    <img src="/images/ok.png" id="ok"/>
  </body>
</html>