<!DOCTYPE html>
<html>
  <head>
    <title>啪啪快打</title>
    <link rel='stylesheet' href='/stylesheets/takephoto.css' />
    <% include inc/meta.ejs %>
    <script src="/javascripts/takephoto.js"></script>
  </head>
  <body>
  <div id="container">
    <video id="video" autoplay=""></video>  
    <canvas id="canvas"></canvas>  
    <div class="control">
      <button id="takephoto">确定拍照</button>
      <button id="skip">跳过</button>
    </div>
  </div>
  </body>
</html>