<!DOCTYPE html>
<html>
  <head>
    <title>啪啪快打</title>
    <link rel='stylesheet' href='/stylesheets/waitplayer.css' />
    <% include inc/meta.ejs %>
    <script src="/javascripts/waitplayer.js"></script>
  </head>
  <body>
		<div class="wait-wrapper">
			<div class="player-one">
				<img src="/images/role/0.png" id="my_image"/>
				<p>我</p>
			</div>
			<div id="vs" class="vs">V S</div>
			<div class="player-wait">
				<img src="/images/role/0.png" id="another_image"/>
				<p id="another_player">玩家<span id="opponent_token">1</span>号</p>
			</div>
		</div>
  </body>
</html>