<!DOCTYPE html>
<html>
  <head>
    <title>啪啪快打</title>
    <link rel='stylesheet' href='/stylesheets/waitplayer.css' />
    <% include inc/meta.ejs %>
    <script src="/javascripts/waitplayer.js"></script>
  </head>
  <body>
		<div class="wait-wrapper">
			<div class="player-one">
				<img src="/images/role/1.png" />
				<p>我</p>
			</div>
			<div class="vs">V S</div>
			<div class="player-wait">
				<img src="/images/role/2.png" />
				<p>玩家：1</p>
			</div>

		</div>
  </body>
</html>