<!DOCTYPE html>
<html>
  <head>
    <title>啪啪快打</title>
    <link rel='stylesheet' href='/stylesheets/waitplayer.css' />
    <% include inc/meta.ejs %>
    <script src="/javascripts/waitplayer.js"></script>
  </head>
  <body class="wait-wrapper">
	<div class="player-one">
		<img src="/images/role/0.png" id="my_image"/>
	</div>
	<div id="vs" class="vs">V S</div>
	<div class="player-wait">
		<img src="/images/role/0.png" id="another_image"/>
	</div>
  </body>
</html>