@import url(reset.css);
body.init{
	background-color: #ebedf0;
}
body.wrapper{
	background: #191215  url('../images/bg.jpg') center center no-repeat;
}
.papa-wrapper{
	display: none;
	width: 900px;
	height: 560px;
	margin: 0 auto;
	padding: 20px 0;
}
.papa-wrapper h1{
	width: 500px;
	height: 40px;
	margin: 0 auto;
	background: url('../images/sprites.png') no-repeat 0px 0px;
	overflow: hidden;
	text-indent: -9999px;

}
.papa-wrapper .logo{
	width: 400px;
	height: 260px;
	margin: 55px auto 0;
	background: url('../images/sprites.png') no-repeat 0px -120px;
	overflow: hidden;
}
.papa-wrapper #find_phone{
	display: block;
	width: 254px;
	height: 76px;
	margin: 100px auto 0;
	background: url('../images/button.png') no-repeat 0px 9px;
	overflow: hidden;
	text-indent: -9999px;
}
.papa-wrapper #find_phone:hover{
	background-position: 0 -111px;
}
.papa-wrapper #token_area{
	display:none;
	width: 600px;
	height: 160px;
	margin: 0 auto;
}
.papa-wrapper .token{
	font-size: 16px;
	height: 60px;
	margin-top: 20px;
	text-align: center;
	color: #e2bb3c;
	-webkit-text-stroke: .4px #b35607;
}
.papa-wrapper .action{
	width: 600px;
	margin: 20px auto 0;
	height: 60px;
}
.papa-wrapper .action #token_yes{
	display: block;
	width: 254px;
	height: 76px;
	float: left;
	background: url('../images/button.png') no-repeat 0px -231px;
	overflow: hidden;
	text-indent: -9999px;
}
.papa-wrapper .action #token_yes:hover{
	background-position: 0 -351px;
}
.papa-wrapper .action #token_no{
	display: block;
	width: 254px;
	height: 76px;
	float: right;
	background: url('../images/button.png') no-repeat 0px -471px;
	overflow: hidden;
	text-indent: -9999px;
}
.papa-wrapper .action #token_no:hover{
	background-position: 0 -591px;
}
.beat-wrapper{
	position: relative;
	width: 300px;
	height: 400px;
	left: 50%;
	margin-left: -150px;
}
.binding{
	display: none;
	width: 114px;
    height: 60px;
    margin: 82px auto 0;
    background: url('../images/progress.png') no-repeat 0 -294px;
}

