@import url(reset.css);
body{background:black;}
#gla_box{width:1000px;height:600px;margin:10px auto;position:relative;}
#gla_box .prev,#gla_box .next{display:none;} 
.gla_inbox{overflow:hidden;position:relative;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
.gla_inbox img{width:100%;height:100%;}
.roundabout-holder{margin:0px auto; height:600px;width:900px;}
.roundabout-moveable-item{display:block;height:600px;width:600px;cursor:pointer;}
.roundabout-in-focus{cursor:auto;}