@import url(reset.css);
body{
    background: #191215  url('../images/bg.jpg') center center no-repeat;
}
#container {
    width: 731px;
    margin:0 auto;
}
.bar-frame{
    background: url('../images/progress.png') no-repeat 0 0;
    width: 704px;
    height: 19px;
    padding: 10px 18px 19px 9px;
}
.progress{
    height: 25px;
    background: url('../images/progress.png') no-repeat 0 -123px;
    margin-top: -3px;
    border-radius: 10px;
    position: relative;
    overflow-x: hidden;
    z-index: 9;
}
.tail{
    position: absolute;
    width: 140px;
    height: 25px;
    background: url('../images/progress.png') no-repeat 0 -64px;
    right: 0;
    top: -1px;
}
.loading{
    width: 100px;
    height: 60px;
    margin: 82px auto 0;
    background: url('../images/progress.png') no-repeat 0 -174px;
}