@import url(reset.css);
body{
    background: #191215  url('../images/bg.jpg') center center no-repeat;
}
#container {
    width: 800px;
    height: 800px;
    margin:0px auto;
}

#video,#canvas{
	display:block;
	margin-left:120px;
}

#canvas{
	display:none;
}

#ok{
	position:absolute;
	display:none;
}
.control{
	width: 600px;
	height: 80px;
	margin: 0 auto;
}
#takephoto{
	display: block;
	width: 254px;
	height: 80px;
	float: left;
	background: url('../images/capture.png') -14px -20px no-repeat;
	overflow: hidden;
	text-indent: -9999px;
	cursor: pointer;
}
#takephoto:hover{
	background-position: -14px -200px;
}
#continue{
	display: block;
	width: 254px;
	height: 80px;
	float: right;
	background: url('../images/capture.png') -14px -380px no-repeat;
	overflow: hidden;
	text-indent: -9999px;
	cursor: pointer;
}
#continue:hover{
	background-position: -14px -560px;
}
