@import url(reset.css);
body{
    background: #191215  url('../images/bg.jpg') center center no-repeat;
}
#container {
    width: 800px;
    margin:0px auto;
}

#video,#canvas{
	display:block;
	margin-left:120px;
}

#canvas{
	display:none;
}

#ok{
	position:absolute;
	display:none;
}

