<!DOCTYPE html>
<html>
	<head>
		<meta name = "viewport" content = "width=device-width, minimum-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css">
		<link rel="stylesheet" href="/stylesheets/mobile/index.css">
		<script src="/javascripts/lib/jquery-1.11.1.min.js"></script>
		<script src="/javascripts/lib/sonicnet.js"></script>
		<script src="/javascripts/lib/socket.io-1.0.6.js"></script>
		<script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
    	<script src="/javascripts/lib/webstorage.js"></script>
		<script src="/javascripts/mobile/index.js"></script>
	</head>
	<body>
		<div data-role="page">
  			<div data-role="header">
    			<h1>欢迎来到啪啪快打</h1>
  			</div>
  			<div data-role="content">
    			<a href="#" data-role="button" id="match_btn">匹配电脑</a>
    			<div id="token_area">
      				当前手机令牌号为：<span id="token"></span>
    			</div>
  			</div>
		</div> 
	</body>
</html>

