<!DOCTYPE html>
<html>
	<head>
		<meta name = "viewport" content = "width=device-width, minimum-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css">
		<link rel="stylesheet" href="/stylesheets/mobile/playerselect.css">
		<script src="/javascripts/lib/jquery-1.11.1.min.js"></script>
		<script src="/javascripts/lib/socket.io-1.0.6.js"></script>
		<script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
    	<script src="/javascripts/lib/webstorage.js"></script>
    	<script src="/javascripts/lib/constants.js"></script>
		<script src="/javascripts/mobile/playerselect.js"></script>
	</head>
	<body>
		<div data-role="page">
  			<div data-role="header">
    			<h1>正在选择角色</h1>
  			</div>
  			<div data-role="content">
				x: <span id="x"></span><br/>
				y: <span id="y"></span><br/>
				z: <span id="z"></span><br/>
  			</div>
		</div> 
	</body>
</html>